*,
*::before,
*::after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  text-size-adjust: none;
}

html,
body {
  height: 100%;
}

body {
  text-rendering: optimizeSpeed;
}

ol,
ul {
  list-style: none;
}

h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

img {
  height: auto;
  vertical-align: middle;
  font-style: italic;
  background-repeat: no-repeat;
  background-size: cover;
}

img,
picture,
svg {
  max-width: 100%;
  display: block;
}

button:not(:disabled) {
  cursor: pointer;
}

textarea:not([rows]) {
  min-height: 10em;
}

@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0s !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0s !important;
    scroll-behavior: auto !important;
  }
}
